 ## <p style="color:BLUE ; text-size:20px; text-align:center;">PANDAS TUTORIAL</p>

# Series

In [1]:
import pandas as pd

In [2]:
import pandas as pd
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
var = pd.Series()
#index starts from 0
print(var)
print(type(var))
print(var[4])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
<class 'pandas.core.series.Series'>
5

In [17]:
#index,dtype,name
import pandas as pd
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
var = pd.Series(x,index=['a','b','c','d','e','f','g','h','i','j'],dtype=float,name="PANDAS DATA")

print(var)
print(type(var))
print(var[4])

a     1.0
b     2.0
c     3.0
d     4.0
e     5.0
f     6.0
g     7.0
h     8.0
i     9.0
j    10.0
Name: PANDAS DATA, dtype: float64
<class 'pandas.core.series.Series'>
5.0

In [3]:
import pandas as pd
dic = {"name": [ 'python' , 'c', 'c++', 'java'] ,"por": [12, 13, 14,15],"rank":[1,4,3,2]}
var1=pd.Series(dic,name="Dictionary")
print(var1)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
Name: Dictionary, dtype: object

In [3]:

s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# DATAFRAME

In [9]:
l=[1,2,3,4,5,6,7,8,9,10]
var=pd.DataFrame(l)
print(type(var))
print(var)

<class 'pandas.core.frame.DataFrame'>
    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [22]:
d={"a":[1,2,3,4,5],"b":[1,2,3,4,5],"d":[1,2,3,4,5],1:[1,2,3,4,5]}

var1 = pd.DataFrame(d)
# var1 = pd.DataFrame(d,columns=["a",1],index=["a","b","c","d","e"])
print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  b  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5

In [24]:
list_1=[[1,2,3,4,5],[1,2,3,4,5]]

var3=pd.DataFrame(list_1)
# var3 = pd.DataFrame(d,columns=["a",1],index=["a","b","c","d","e"])
print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5

In [26]:
#two series dataframe
sr={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([1,2,3,4,5])}

var3 = pd.DataFrame(sr)
# var3 = pd.DataFrame(d,columns=["a",1],index=["a","b","c","d","e"])
print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [27]:
 
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[1,2,3,4,5]})
print(var)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [31]:
# ARITHMETIC OPERATIONS
var["C"]=var["A"]*var["B"]
var

   A  B   C
0  1  1   1
1  2  2   4
2  3  3   9
3  4  4  16
4  5  5  25

In [38]:
var["python"]=var["A"]<=3
var["python_1"]=var["B"]>=3
var

   A  B   C  python  python_1
0  1  1   1    True     False
1  2  2   4    True     False
2  3  3   9    True      True
3  4  4  16   False      True
4  5  5  25   False      True